body{
  padding: 90px;
  background-image: url('images/image1.JPG');
}
#productos img{
  border-radius: 340px;
}
#contacto ul{
  list-style-type: none;
}
#contacto ul li{
  text-align: center;
}
#contacto{
  padding: 100px;
  background-image: imag('public/images/IMG_0848.jpg');
  background-color: blue;
}
#contacto h2{
  text-align: center;
}
